body {
    background-color: rgb(214, 104, 104);
    scroll-behavior: smooth; /* Smooth scrolling */
}

.navbar {
    position: fixed; /* Make the navbar stick to the top */
    width: 100%;
    z-index: 1000;
}

#title {
    font-family: "Teko", sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lp-h-1 {
    background: url("/static/images/background.jpg") center/cover no-repeat;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lp-h-1 h1 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: white;
    margin-top: 15rem;
}

#lp-h-1 p {
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

#lp-h-1 .find-more-button {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    color: white;
    background-color: transparent;
    animation: bounce 2s infinite;
}

#lp-h-1 .find-more-button:hover {
    background-color: white;
    color: black;
}

#lp-h-2 {
    backdrop-filter: blur(5px);
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#lp-h-2 h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 4rem;
    color: white;
}

#lp-h-2 p {
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    margin: 2rem 5rem 0 5rem;
    color: rgba(255, 255, 255, 0.8);
}

#lp-h-2 a {
    display: flex;
    text-decoration: none;
    margin-top: 7rem;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3rem;
    border-radius: 8px;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    border: none;
    color: rgb(214, 104, 104);
    background-color: white;
    animation: pulse 2s infinite; /* Continuous animation */
}

#lp-h-2 a:hover {
    background-color: rgb(214, 104, 104);
    color: white;
    border: solid white 2px;
}

footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
}

footer h1 {
    font-size: 1rem;
}

/* Keyframe animation for continuous pulse effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Keyframe animation for bounce effect */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.custom-login-button {
    background-color: white;
    color: #d66868;
    border: 2px solid #d66868;
    width: 5rem;
}

.custom-login-button:hover {
    background-color: #d66868;
    color: white;
}

.custom-login-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(214, 104, 104, 0.5);
}

.nav-link.dropdown-toggle {
    color: white !important;
    margin-right: 1rem;
}

.dropdown-menu {
    color: #d66868; /* Brighten dropdown text color */
}